<a href="https://colab.research.google.com/github/timcsmith/MIS536-Public/blob/master/Notebooks/Class03_Data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization

> (c) 2019 Galit Shmueli, Peter C. Bruce, Peter Gedeck 
>
> Code included in
>
> _Data Mining for Business Analytics: Concepts, Techniques, and Applications in Python_ (First Edition) 
> Galit Shmueli, Peter C. Bruce, Peter Gedeck, and Nitin R. Patel. 2019.
>
> Updates and additions applied by Dr. Tim Smith (2020)
>

In this notebook, we demonstrate how to create a number of common plots using Python. 


Pandas provides a number of basic plotting capabilities. Matplotlib however gives you more control over details of the visualisation. The Pandas plot methods return an axes object, which can also be used to modify the visualisation using basic matplotlib commands.

# 3.1 Import required packages

There are various plotting packages available for Python, but matplotlib is the oldest and most widely used. Seaborn is a library the builds "on-top of" matplotlib to create certain plots more easily (and, can often look more visually appealing).

In [1]:
%matplotlib inline
import os
import calendar
from pathlib import Path
import numpy as np
import networkx as nx
import pandas as pd
#from pandas.plotting import scatter_matrix, parallel_coordinates
import seaborn as sns
from sklearn import preprocessing
import matplotlib.pylab as plt

# 3.2 Load Example Data

## Boston Housing Market Data

Let's look a data set on the Boston housing market:

### Table 3.1 - Data Dictionary

![](https://raw.githubusercontent.com/prof-tcsmith/mis307/master/notebooks/images/BostonData1.png)

### Table 3.2a - First 10 records of imported data

In [2]:

housing_df = pd.read_csv("https://raw.githubusercontent.com/prof-tcsmith/mis307/master/data/BostonHousing.csv")
housing_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,9.67,22.4,0
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,9.08,20.6,0
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9,0
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0,0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9,0

### Table 3.2b - First 10 rows with renamed column (CAT. MDEV -> CAT_MEDV)

In [3]:
# rename CAT. MEDV column for easier data handling
housing_df = housing_df.rename(columns={'CAT. MEDV': 'CAT_MEDV'})
housing_df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT_MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,5.21,28.7,0
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,12.43,22.9,0
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,19.15,27.1,0
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,29.93,16.5,0
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,17.10,18.9,0

## Amtrak data

Ridership (average number of riders in 000's) per month between January 1991 and March 2004.

In [4]:
# Load the Amtrak data 
Amtrak_df = pd.read_csv("https://raw.githubusercontent.com/prof-tcsmith/mis307/master/data/Amtrak.csv")
Amtrak_df

          Month  Ridership
0    01/01/1991   1708.917
1    01/02/1991   1620.586
2    01/03/1991   1972.715
3    01/04/1991   1811.665
4    01/05/1991   1974.964
..          ...        ...
154  01/11/2003   2076.054
155  01/12/2003   2140.677
156  01/01/2004   1831.508
157  01/02/2004   1838.006
158  01/03/2004   2132.446

[159 rows x 2 columns]


Convert Amtrak data to be suitable for time series analysis

In [5]:
#Amtrak_df = pd.read_csv('Amtrak.csv', squeeze=True)
Amtrak_df['Date'] = pd.to_datetime(Amtrak_df.Month, format='%d/%m/%Y')
ridership_ts = pd.Series(Amtrak_df.Ridership.values, index=Amtrak_df.Date)
ridership_ts

Date
1991-01-01    1708.917
1991-02-01    1620.586
1991-03-01    1972.715
1991-04-01    1811.665
1991-05-01    1974.964
                ...
2003-11-01    2076.054
2003-12-01    2140.677
2004-01-01    1831.508
2004-02-01    1838.006
2004-03-01    2132.446
Length: 159, dtype: float64

# 3.3 Basic Charts: Bar Charts, Line Graphs, and Scatter Plots

## Line Plots

### Using pandas

In [ ]:
ridership_ts.plot(ylim=[1300, 2300], legend=False, figsize=[5, 3])
plt.xlabel('Year')  # set x-axis label
plt.ylabel('Ridership (in 000s)')  # set y-axis label

# note always needed, but if you run into trouble with parts of the plot area
# being cut-off (going outside the drawing area), you'll need to add padding
# using tight_layout. I leave it in here for reference, as it really isn't 
# necessary for this plot. 
plt.tight_layout() # this adjusts the padding around the figure. See: https://matplotlib.org/api/_as_gen/matplotlib.pyplot.tight_layout.html

# NOTE: If we're creating plots inside jupyter notebooks, the plt.show() call is not required
# if this were being run from command line or interactive mode (which we do not do in this course)
# you need to plot.show() call
#plt.show()

### Using matplotlib

In [ ]:
# alternative plot with matplotlib
plt.plot(ridership_ts.index, ridership_ts)
plt.xlabel('Year')  # set x-axis label
plt.ylabel('Ridership (in 000s)')  # set y-axis label

## Scatter plots

### Using pandas

In [ ]:

housing_df.plot.scatter(x='LSTAT', y='MEDV', legend=False)

### Using matplotlib

In [ ]:
# Set the color of the points in the scatterplot and draw as open circles.
fig, ax = plt.subplots()
fig.set_size_inches(5, 3)

ax.scatter(housing_df.LSTAT, housing_df.MEDV, color='C2', facecolor='none') # see 'CN' colors here https://matplotlib.org/2.0.2/users/colors.html
plt.xlabel('LSTAT')
plt.ylabel('MEDV')

## BoxPlots

### Using pandas

In [ ]:
ax = housing_df.groupby('CHAS').mean().MEDV.plot(kind='bar', figsize=[5, 3])
ax.set_ylabel('Avg. MEDV')

### Using matplotlib

Note: When using matplotlib, we need to group the data before we can plot it using matplot lib. Pandas has the ability to group rows into a summary. For instance, in this case let's group by CHAS, and look at what the mean of MEDV values for each group.

In [ ]:
dataForPlot = housing_df.groupby('CHAS').mean() # group the data by CHAS and use mean as the summary
dataForPlot

In [ ]:


fig, ax = plt.subplots()
ax.bar(dataForPlot.index, dataForPlot.MEDV, color=['C5', 'C1'])
ax.set_xticks([0, 1], minor=False)
ax.set_xlabel('CHAS')
ax.set_ylabel('Avg. MEDV')

In [ ]:
fig, ax = plt.subplots()
ax.bar(dataForPlot.index, dataForPlot.CAT_MEDV, color=['C5', 'C1'])
ax.set_xticks([0, 1], minor=False)
ax.set_xlabel('CHAS')
ax.set_ylabel('% of CAT.MEDV')

In [ ]:
fig = plt.figure(figsize=(12,6)) # this creates a figure - sort of a drawing space to create our plot

fig.suptitle("Figure1: Ch3 Subplot Example", multialignment='center', wrap=True, y=1.05)

ax1 = fig.add_subplot(121, title="Avg. MEDV") 
ax1.bar(dataForPlot.index, dataForPlot.MEDV, color=['C5', 'C1'])
ax1.set_xticks([0, 1], minor=False)
ax1.set_xlabel('CHAS')
ax1.set_ylabel('Avg MEDV')

ax1 = fig.add_subplot(122, title="% of CAT.MEDV") 
ax1.bar(dataForPlot.index, dataForPlot.CAT_MEDV, color=['C6', 'C2'])
ax1.set_xticks([0, 1], minor=False)
ax1.set_xlabel('CHAS')
ax1.set_ylabel('% of CAT.MEDV')

## Histograms

### Figure 3.2
Histogram of MEDV

In [ ]:
ax = housing_df.MEDV.hist()
ax.set_xlabel('MEDV')
ax.set_ylabel('count')

plt.show()

In [ ]:
fig, ax = plt.subplots()
ax.hist(housing_df.MEDV)
ax.set_axisbelow(True)  # Show the grid lines behind the histogram
ax.grid(which='major', color='grey', linestyle='--')
ax.set_xlabel('MEDV')
ax.set_ylabel('count')
plt.show()

## Boxplots

In [ ]:
ax = housing_df.boxplot(column='MEDV', by='CHAS')
ax.set_ylabel('MEDV')
plt.suptitle('')  # Suppress the titles
plt.title('')

In [ ]:
dataForPlot = [list(housing_df[housing_df.CHAS==0].MEDV), list(housing_df[housing_df.CHAS==1].MEDV)]
fig, ax = plt.subplots()
ax.boxplot(dataForPlot)
ax.set_xticks([1, 2], minor=False)
ax.set_xticklabels([0, 1])
ax.set_xlabel('CHAS')
ax.set_ylabel('MEDV')

### Multiple subplots, take 2

### Figure 3.3

There are many ways you can create subplots. We saw a pattern previously when we created the two subplots to hold a scatter plot. Another example is below using nrows and ncols.

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=4) # Note that axes is a list ax's,
housing_df.boxplot(column='NOX', by='CAT_MEDV', ax=axes[0]) # each boxplot call has the specific ax from the list as an argument.
housing_df.boxplot(column='LSTAT', by='CAT_MEDV', ax=axes[1])
housing_df.boxplot(column='PTRATIO', by='CAT_MEDV', ax=axes[2])
housing_df.boxplot(column='INDUS', by='CAT_MEDV', ax=axes[3])
for ax in axes:
    ax.set_xlabel('CAT.MEDV')
plt.suptitle('')  # Suppress the overall title
plt.tight_layout()  # Increase the separation between the plots

## Heatmaps

### Figure 3.4

NOTE: In this section we use Seaborns heatmap functionality. Seaborn in a library that wraps matplotlib and (for the plots it supports) can look more visually appealing and be usier to work with.

In [ ]:
corr = housing_df.corr()
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns)  # note that we imported seasorn as sns in the intro portion of this notebook

In [ ]:
# Change the colormap to a divergent scale and fix the range of the colormap
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns, vmin=-1, vmax=1, cmap="RdBu")

In [ ]:
# Include information about values
fig, ax = plt.subplots()
fig.set_size_inches(11, 7)
sns.heatmap(corr, annot=True, fmt=".1f", cmap="RdBu", center=0, ax=ax)

### Figure 3.5
A heatmap can also be used to visualize missing values. Here, we use a sample of the NYPD Motor Vehicle Collisions Dataset. (https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95)

In [ ]:
# df = pd.read_csv('NYPD_Motor_Vehicle_Collisions.csv')
# df = df.sample(1000)
# # df.head()
# df.to_csv('NYPD_Motor_Vehicle_Collisions_1000.csv', index=False)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/mis307/master/data/NYPD_Motor_Vehicle_Collisions_1000.csv').sort_values(['DATE'])

# Given a dataframe df create a copy of the array that is 0 if a field contains a value 
# and 1 for NaN
naInfo = np.zeros(df.shape)
naInfo[df.isna().values] = 1
naInfo = pd.DataFrame(naInfo, columns=df.columns)

fig, ax = plt.subplots()
fig.set_size_inches(13, 9)
ax = sns.heatmap(naInfo, vmin=0, vmax=1, cmap=["white", "#444444"], cbar=False, ax=ax)
ax.set_yticks([])

rect = plt.Rectangle((0, 0), naInfo.shape[1], naInfo.shape[0], linewidth=1, 
                     edgecolor='lightgrey',facecolor='none')
rect = ax.add_patch(rect)
rect.set_clip_on(False)

plt.xticks(rotation=80)
plt.tight_layout()
plt.show()

## Multi-Dimensional Visualization

### Figure 3.6

In [ ]:
# Color the points by the value of CAT.MEDV
housing_df.plot.scatter(x='LSTAT', y='NOX', c=['C0' if c == 1 else 'C1' for c in housing_df.CAT_MEDV])

In [ ]:
# Change the rendering of the points to open circles by controlling the color
housing_df.plot.scatter(x='LSTAT', y='NOX', color='none',
                        edgecolor=['C0' if c == 1 else 'C1' for c in housing_df.CAT_MEDV])

If the data points for `CAT_MEDV` of 1 should be emphasized, it's useful to draw them separately.

In [ ]:
# Plot first the data points for CAT.MEDV of 0 and then of 1
_, ax = plt.subplots()
for catValue, color in (0, 'C1'), (1, 'C0'):
    subset_df = housing_df[housing_df.CAT_MEDV == catValue]
    ax.scatter(subset_df.LSTAT, subset_df.NOX, color='none', edgecolor=color)
ax.set_xlabel('LSTAT')
ax.set_ylabel('NOX')
ax.legend(["CAT.MEDV 0", "CAT.MEDV 1"])

plt.show()

### Panel plots

Compute mean MEDV per RAD and CHAS and create two bar charts for each value of RAD

In [ ]:
dataForPlot_df = housing_df.groupby(['CHAS','RAD']).mean()['MEDV']
# We determine all possible RAD values to use as ticks
ticks = set(housing_df.RAD)
for i in range(2):
    for t in ticks.difference(dataForPlot_df[i].index):
        dataForPlot_df.loc[(i, t)] = 0
# reorder to rows, so that the index is sorted
dataForPlot_df = dataForPlot_df[sorted(dataForPlot_df.index)]

# Determine a common range for the y axis
yRange = [0, max(dataForPlot_df) * 1.1] 

fig, axes = plt.subplots(nrows=2, ncols=1)
dataForPlot_df[0].plot.bar(x='RAD', ax=axes[0], ylim=yRange)
dataForPlot_df[1].plot.bar(x='RAD', ax=axes[1], ylim=yRange)
axes[0].annotate('CHAS = 0', xy=(3.5, 45))
axes[1].annotate('CHAS = 1', xy=(3.5, 45))

plt.show()

### Figure 3.7
Scatterplot matrix

In [ ]:
_ = scatter_matrix(housing_df[['CRIM', 'INDUS', 'LSTAT', 'MEDV']], figsize=(6, 6), diagonal='kde')

In [ ]:
# Add the correlation coefficient to the scatterplots above the diagonal
df = housing_df[['CRIM', 'INDUS', 'LSTAT', 'MEDV']]
axes = scatter_matrix(df, alpha=0.5, figsize=(6, 6), diagonal='kde')
corr = df.corr().values
for i, j in zip(*plt.np.triu_indices_from(axes, k=1)):
    axes[i, j].annotate("%.3f" %corr[i,j], (0.8, 0.8), xycoords='axes fraction', ha='center', va='center')

plt.show()

### Figure 3.8

In [ ]:
# Avoid the use of scientific notation for the log axis
plt.rcParams['axes.formatter.min_exponent'] = 4

fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(7, 3))

# Regular scale
housing_df.plot.scatter(x='CRIM', y='MEDV', ax=axes[0])
# log scale
ax = housing_df.plot.scatter(x='CRIM', y='MEDV', logx=True, logy=True, ax=axes[1])
ax.set_yticks([5, 10, 20, 50])
ax.set_yticklabels([5, 10, 20, 50])
plt.tight_layout()

plt.show()

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(7, 3))

# regular scale
ax = housing_df.boxplot(column='CRIM', by='CAT_MEDV', ax=axes[0])
ax.set_xlabel('CAT.MEDV')
ax.set_ylabel('CRIM')

# log scale
ax = housing_df.boxplot(column='CRIM', by='CAT_MEDV', ax=axes[1])
ax.set_xlabel('CAT.MEDV')
ax.set_ylabel('CRIM')
ax.set_yscale('log')

# suppress the title
axes[0].get_figure().suptitle('')
plt.tight_layout()

plt.show()

### Figure 3.10

In [ ]:
utilities_df = pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/mis307/master/data/Utilities.csv')

ax = utilities_df.plot.scatter(x='Sales', y='Fuel_Cost', figsize=(6, 6))
points = utilities_df[['Sales','Fuel_Cost','Company']]
_ = points.apply(lambda x: 
             ax.text(*x, rotation=20, horizontalalignment='left',
                     verticalalignment='bottom', fontsize=8), axis=1)

plt.show()

### Figure 3.11
Use `alpha` to add transparent colors

In [ ]:
universal_df = pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/mis307/master/data/UniversalBank.csv')

universal_df.plot.scatter(x='Income', y='CCAvg', 
                          c=['black' if c == 1 else 'grey' for c in universal_df['Securities Account']],
                          ylim = (0.05, 10), alpha=0.2,
                          logx=True, logy=True)

The pandas plot pandas has a number of problems that can be solved using matplotlib 

- overlapping points: add random jitter to the datapoints
- distribution of securities account less obvious due to overplotting: separate plotting of the two sets of accounts

In [ ]:
def jitter(x, factor=1):
    """ Add random jitter to x values """
    sx = np.array(sorted(x))
    delta = sx[1:] - sx[:-1]
    minDelta = min(d for d in delta if d > 0)
    a = factor * minDelta / 5
    return x + np.random.uniform(-a, a, len(x))
    
    
saIdx = universal_df[universal_df['Securities Account'] == 1].index

plt.figure(figsize=(10,6))
plt.scatter(jitter(universal_df.drop(saIdx).Income),
            jitter(universal_df.drop(saIdx).CCAvg),
            marker='o', color='grey', alpha=0.2)
plt.scatter(jitter(universal_df.loc[saIdx].Income),
            jitter(universal_df.loc[saIdx].CCAvg), 
            marker='o', color='red', alpha=0.2)
plt.xlabel('Income')
plt.ylabel('CCAvg')
plt.ylim((0.05, 20))
axes = plt.gca()
axes.set_xscale("log")
axes.set_yscale("log")

plt.show()

### Figure 3.12

In [ ]:
# Transform the axes, so that they all have the same range
min_max_scaler = preprocessing.MinMaxScaler()
dataToPlot = pd.DataFrame(min_max_scaler.fit_transform(housing_df),
                         columns=housing_df.columns)

fig, axes = plt.subplots(nrows=2, ncols=1, figsize=[8, 6])
for i in (0, 1):
    parallel_coordinates(dataToPlot.loc[dataToPlot.CAT_MEDV == i], 
                         'CAT_MEDV', ax=axes[i], linewidth=0.5)
    axes[i].set_title('CAT.MEDV = {}'.format(i))
    axes[i].set_yticklabels([])
    axes[i].legend().set_visible(False)

plt.tight_layout()  # Increase the separation between the plots

plt.show()

### Figure 3.14

In [ ]:
ebay_df = pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/mis307/master/data/eBayNetwork.csv')

G = nx.from_pandas_edgelist(ebay_df, source='Seller', target='Bidder')

isBidder = [n in set(ebay_df.Bidder) for n in G.nodes()]
pos = nx.spring_layout(G, k=0.13, iterations=60, scale=0.5)
plt.figure(figsize=(10,10))
nx.draw_networkx(G, pos=pos, with_labels=False,
                 edge_color='lightgray',
                 node_color=['gray' if bidder else 'black' for bidder in isBidder],
                 node_size=[50 if bidder else 200 for bidder in isBidder])
plt.axis('off')

plt.show()

### Figure 3.15

Use example from here: https://python-graph-gallery.com/treemap/

In [ ]:
!pip install squarify

In [ ]:
import squarify
import matplotlib

ebayTreemap = pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/mis307/master/data/EbayTreemap.csv')

grouped = []
for category, df in ebayTreemap.groupby(['Category']):
    negativeFeedback = sum(df['Seller Feedback'] < 0) / len(df)
    grouped.append({
        'category': category, 
        'negativeFeedback': negativeFeedback, 
        'averageBid': df['High Bid'].mean()
    })
byCategory = pd.DataFrame(grouped)

norm = matplotlib.colors.Normalize(vmin=byCategory.negativeFeedback.min(), vmax=byCategory.negativeFeedback.max())
colors = [matplotlib.cm.Blues(norm(value)) for value in byCategory.negativeFeedback]

fig, ax = plt.subplots()
fig.set_size_inches(9, 5)

squarify.plot(label=byCategory.category, sizes=byCategory.averageBid, color=colors, 
              ax=ax, alpha=0.6, edgecolor='grey')

ax.get_xaxis().set_ticks([])
ax.get_yaxis().set_ticks([])

plt.subplots_adjust(left=0.1)
plt.show()

### Figure 3.16

OPTIONAL!!

Google Maps Platform is a now a paid service. You can get a trial from them, get an API keyk, and try the code below. 

To run this example you need an API key for Google maps. 

https://developers.google.com/maps/documentation/geolocation/get-api-key

In [ ]:
import gmaps
SCstudents = pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/mis307/master/data/SC-US-students-GPS-data-2016.csv')

gmaps.configure(api_key=os.environ['it will look something like this -> BIzaSyBgXa9Vp9yugdP6tMruM9CsFcMvvcO1yr0'])
fig = gmaps.figure(center=(39.7, -105), zoom_level=3)
fig.add_layer(gmaps.symbol_layer(SCstudents, scale=2, 
                                 fill_color='red', stroke_color='red'))
fig